$size: 9em;
$strip: .25em;

html {
	height: 100vh;
	background: 
		linear-gradient(90deg, 
			  #fff $strip, transparent 0), 
		linear-gradient(90deg, 
			  #36599d 50%, transparent 0), 
		linear-gradient(90deg, 
			  #643140 50%, #0a226a 0);
	background-size: 
		.25*$size, .5*$size, $size;
}