*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  background:url("https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2FAh3aXWDIt2U6a3RiEE%2Fgiphy.gif");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
